In [6]:
from nba_api.stats.static import teams

# get_teams returns a list of 30 dictionaries, each an NBA team.
nba_teams = teams.get_teams()
print("Number of teams fetched: {}".format(len(nba_teams)))
nba_teams[:3]

Number of teams fetched: 30

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Georgia',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

In [19]:
from nba_api.stats.endpoints import teamdashboardbygeneralsplits
import pandas as pd

stats = teamdashboardbygeneralsplits.TeamDashboardByGeneralSplits(team_id = '1610612737')
df = stats.get_data_frames()[0]
pd.set_option('display.max.columns', 55)
df

,GROUP_SET,GROUP_VALUE,SEASON_YEAR,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,Overall,2024-25,2024-25,42,22,20,0.524,2031.0,1794,3874,0.463,548,1551,0.353,780,999,0.781,519,1397,1916,1237,676.0,431,227,227,776,832,4916,-83.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [25]:
from nba_api.stats.library import parameters
print(parameters.Stat.__dict__)

{'__module__': 'nba_api.stats.library.parameters', 'points': 'PTS', 'rebounds': 'REB', 'assists': 'AST', 'field_goal_percent': 'FG_PCT', 'free_throw_percent': 'FT_PCT', 'threes_percent': 'FG3_PCT', 'steals': 'STL', 'blocks': 'BLK', 'default': 'PTS', '__dict__': <attribute '__dict__' of 'Stat' objects>, '__weakref__': <attribute '__weakref__' of 'Stat' objects>, '__doc__': None}

In [41]:
from nba_api.stats.endpoints import teamdashboardbygeneralsplits
import pandas as pd

stats = teamdashboardbygeneralsplits.TeamDashboardByGeneralSplits(
    team_id = '1610612738',
    measure_type_detailed_defense = 'Base')
df = stats.get_data_frames()[0]
pd.set_option('display.max.columns', 55)
df

,GROUP_SET,GROUP_VALUE,SEASON_YEAR,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,Overall,2024-25,2024-25,43,30,13,0.698,2084.0,1793,3910,0.459,766,2109,0.363,708,892,0.794,481,1469,1950,1095,510.0,328,248,183,693,801,5060,413.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [36]:
from nba_api.stats.endpoints import teamdashboardbygeneralsplits
import pandas as pd

stats = teamdashboardbygeneralsplits.TeamDashboardByGeneralSplits(
    team_id = '1610612737',
    measure_type_detailed_defense = 'Scoring')
df = stats.get_data_frames()[0]
pd.set_option('display.max.columns', 55)
df

,GROUP_SET,GROUP_VALUE,SEASON_YEAR,GP,W,L,W_PCT,MIN,PCT_FGA_2PT,PCT_FGA_3PT,PCT_PTS_2PT,PCT_PTS_2PT_MR,PCT_PTS_3PT,PCT_PTS_FB,PCT_PTS_FT,PCT_PTS_OFF_TOV,PCT_PTS_PAINT,PCT_AST_2PM,PCT_UAST_2PM,PCT_AST_3PM,PCT_UAST_3PM,PCT_AST_FGM,PCT_UAST_FGM,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,PCT_FGA_2PT_RANK,PCT_FGA_3PT_RANK,PCT_PTS_2PT_RANK,PCT_PTS_2PT_MR_RANK,PCT_PTS_3PT_RANK,PCT_PTS_FB_RANK,PCT_PTS_FT_RANK,PCT_PTS_OFF_TOV_RANK,PCT_PTS_PAINT_RANK,PCT_AST_2PM_RANK,PCT_UAST_2PM_RANK,PCT_AST_3PM_RANK,PCT_UAST_3PM_RANK,PCT_AST_FGM_RANK,PCT_UAST_FGM_RANK
0,Overall,2024-25,2024-25,43,22,21,0.512,48.3,0.6,0.4,0.51,0.041,0.331,0.145,0.159,0.163,0.469,0.634,0.366,0.814,0.186,0.688,0.312,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [44]:
from nba_api.stats.endpoints import teamdashboardbygeneralsplits
import pandas as pd

stats = teamdashboardbygeneralsplits.TeamDashboardByGeneralSplits(
    team_id = '1610612737',
    measure_type_detailed_defense = 'Scoring',
    per_mode_detailed='Per100Possessions')
df = stats.get_data_frames()[0]
pd.set_option('display.max.columns', 55)
df

,GROUP_SET,GROUP_VALUE,SEASON_YEAR,GP,W,L,W_PCT,MIN,PCT_FGA_2PT,PCT_FGA_3PT,PCT_PTS_2PT,PCT_PTS_2PT_MR,PCT_PTS_3PT,PCT_PTS_FB,PCT_PTS_FT,PCT_PTS_OFF_TOV,PCT_PTS_PAINT,PCT_AST_2PM,PCT_UAST_2PM,PCT_AST_3PM,PCT_UAST_3PM,PCT_AST_FGM,PCT_UAST_FGM,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,PCT_FGA_2PT_RANK,PCT_FGA_3PT_RANK,PCT_PTS_2PT_RANK,PCT_PTS_2PT_MR_RANK,PCT_PTS_3PT_RANK,PCT_PTS_FB_RANK,PCT_PTS_FT_RANK,PCT_PTS_OFF_TOV_RANK,PCT_PTS_PAINT_RANK,PCT_AST_2PM_RANK,PCT_UAST_2PM_RANK,PCT_AST_3PM_RANK,PCT_UAST_3PM_RANK,PCT_AST_FGM_RANK,PCT_UAST_FGM_RANK
0,Overall,2024-25,2024-25,43,22,21,0.512,48.3,0.6,0.4,0.51,0.041,0.331,0.145,0.159,0.163,0.469,0.634,0.366,0.814,0.186,0.688,0.312,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [51]:
#heres how we get player data:
from nba_api.stats.static import players

# Get all players
all_players = players.get_players()

# Find specific player
player = players.find_players_by_full_name('Trae Young')[0]
player_id = player['id']  # Returns 1629027

# Or search by last name (returns list of matches)
young_players = players.find_players_by_last_name('Young')
print(player_id)

1629027

In [71]:
from nba_api.stats.endpoints import leaguedashplayerstats 
from nba_api.stats.endpoints import playercareerstats 
from nba_api.stats.endpoints import playergamelog 

# stats = playercareerstats.PlayerCareerStats(player_id='1629027')
# df = stats.get_data_frames()[0]
# # df
# stats = leaguedashplayerstats.LeagueDashPlayerStats()
# df = stats.get_data_frames()[0]
# df
# df
stats = playergamelog.PlayerGameLog(player_id='1629027')
df = stats.get_data_frames()[0]
df

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22024,1629027,0022400612,"JAN 22, 2025",ATL vs. DET,L,40,5,13,0.385,1,4,0.250,2,4,0.500,0,2,2,9,2,0,5,3,13,-5,1
1,22024,1629027,0022400602,"JAN 20, 2025",ATL @ NYK,L,35,8,22,0.364,6,12,0.500,5,6,0.833,1,2,3,6,3,1,9,4,27,-5,1
2,22024,1629027,0022400587,"JAN 18, 2025",ATL @ BOS,W,39,10,23,0.435,3,10,0.300,5,5,1.000,0,4,4,11,2,2,5,1,28,3,1
3,22024,1629027,0022400556,"JAN 14, 2025",ATL vs. PHX,W,38,13,31,0.419,6,12,0.500,11,14,0.786,2,1,3,5,3,0,6,2,43,10,1
4,22024,1629027,0022400522,"JAN 09, 2025",ATL @ PHX,L,34,6,15,0.400,1,4,0.250,8,9,0.889,0,2,2,7,1,0,3,0,21,-15,1
5,22024,1629027,0022400506,"JAN 07, 2025",ATL @ UTA,W,37,6,16,0.375,3,10,0.300,9,10,0.900,0,2,2,20,0,1,2,1,24,4,1
6,22024,1629027,0022400486,"JAN 04, 2025",ATL @ LAC,L,34,7,16,0.438,4,9,0.444,2,3,0.667,0,4,4,14,1,0,3,2,20,-7,1
7,22024,1629027,0022400477,"JAN 03, 2025",ATL @ LAL,L,36,10,22,0.455,3,9,0.333,10,12,0.833,0,0,0,9,1,0,3,1,33,-8,1
8,22024,1629027,0022400461,"JAN 01, 2025",ATL @ DEN,L,30,8,17,0.471,4,10,0.400,10,12,0.833,0,4,4,9,2,0,4,1,30,-25,1
9,22024,1629027,0022400438,"DEC 29, 2024",ATL @ TOR,W,32,10,21,0.476,7,13,0.538,7,7,1.000,0,2,2,10,1,2,5,2,34,39,1
10,22024,1629027,0022400427,"DEC 28, 2024",ATL vs. MIA,W,37,3,13,0.231,2,9,0.222,3,4,0.750,0,1,1,15,1,0,3,0,11,17,1
11,22024,1629027,0022400413,"DEC 26, 2024",ATL vs. CHI,W,39,8,17,0.471,4,11,0.364,7,7,1.000,1,1,2,13,2,0,2,2,27,20,1
12,22024,1629027,0022400395,"DEC 23, 2024",ATL vs. MIN,W,31,8,15,0.533,4,7,0.571,9,12,0.750,0,2,2,7,0,0,5,2,29,9,1
13,22024,1629027,0022400370,"DEC 19, 2024",ATL @ SAS,L,37,7,16,0.438,3,6,0.500,6,8,0.750,0,0,0,16,3,0,5,3,23,-7,1
14,22024,1629027,0022401229,"DEC 14, 2024",ATL @ MIL,L,40,9,18,0.500,3,5,0.600,14,17,0.824,2,5,7,10,0,1,5,4,35,-4,1
15,22024,1629027,0022401202,"DEC 11, 2024",ATL @ NYK,W,36,8,22,0.364,2,8,0.250,4,4,1.000,0,5,5,11,1,0,3,1,22,6,1
16,22024,1629027,0022400350,"DEC 08, 2024",ATL vs. DEN,L,35,6,13,0.462,2,7,0.286,1,2,0.500,1,3,4,10,3,0,4,1,15,-5,1
17,22024,1629027,0022400334,"DEC 06, 2024",ATL vs. LAL,W,42,9,25,0.360,5,13,0.385,8,8,1.000,0,4,4,20,2,0,3,1,31,-6,1
18,22024,1629027,0022400323,"DEC 04, 2024",ATL @ MIL,W,35,6,19,0.316,0,9,0.000,5,6,0.833,0,4,4,7,0,0,4,3,17,7,1
19,22024,1629027,0022400315,"DEC 02, 2024",ATL vs. NOP,W,36,5,16,0.313,2,9,0.222,0,0,0.000,1,7,8,15,1,0,5,3,12,20,1
20,22024,1629027,0022400300,"NOV 30, 2024",ATL @ CHA,W,31,4,9,0.444,2,6,0.333,4,6,0.667,0,4,4,5,1,0,6,2,14,-4,1
21,22024,1629027,0022400041,"NOV 29, 2024",ATL vs. CLE,W,35,7,12,0.583,2,5,0.400,5,5,1.000,0,3,3,11,0,0,7,4,21,10,1
22,22024,1629027,0022400287,"NOV 27, 2024",ATL @ CLE,W,37,6,18,0.333,3,13,0.231,5,5,1.000,0,4,4,22,0,0,5,3,20,5,1
23,22024,1629027,0022400280,"NOV 25, 2024",ATL vs. DAL,L,35,5,12,0.417,2,4,0.500,6,7,0.857,1,1,2,16,3,0,3,2,18,-1,1
24,22024,1629027,0022400030,"NOV 22, 2024",ATL @ CHI,L,38,8,18,0.444,1,8,0.125,8,8,1.000,0,1,1,13,4,1,4,2,25,-9,1
25,22024,1629027,0022400258,"NOV 20, 2024",ATL @ GSW,L,30,4,12,0.333,1,6,0.167,3,4,0.750,0,3,3,11,2,0,3,2,12,-19,1
26,22024,1629027,0022400250,"NOV 18, 2024",ATL @ SAC,W,36,1,7,0.143,0,2,0.000,5,5,1.000,0,3,3,19,2,0,5,1,7,16,1
27,22024,1629027,0022400239,"NOV 17, 2024",ATL @ POR,L,38,8,16,0.500,5,10,0.500,8,9,0.889,1,4,5,8,0,0,6,2,29,-4,1
28,22024,1629027,0022400012,"NOV 15, 2024",ATL vs. WAS,W,33,5,18,0.278,4,9,0.444,4,4,1.000,0,2,2,9,0,0,6,3,18,2,1
29,22024,1629027,0022400198,"NOV 09, 2024",ATL vs. CHI,L,38,6,16,0.375,2,6,0.333,0,0,0.000,1,2,3,16,0,0,6,2,14,-6,1
30,22024,1629027,0022400185,"NOV 08, 2024",ATL @ DET,L,41,11,25,0.440,6,12,0.500,7,8,0.875,0,2,2,13,2,0,3,2,35,14,1
31,22024,1629027,0022400171,"NOV 06, 2024",ATL vs. NYK,W,35,7,21,0.333,3,9,0.333,6,8,0.750,2,4,6,10,2,0,2,2,23,6,1
32,22024,1629027,0022400157,"NOV 04, 2024",ATL vs. BOS,L,23,1,10,0.100,0,6,0.000,0,0,0.000,0,0,0,6,1,0,3,2,2,-28,1
33,22024,1629027,0022400152,"NOV 03, 2024",ATL @ NOP,W,31,8,15,0.533,5,10,0.500,2,2,1.000,1,3,4,12,1,0,2,1,23,29,1
34,22024,1629027,0022400135,"NOV 01, 2024",ATL vs. SAC,L,42,8,21,0.381,3,9,0.333,6,7,0.857,1,4,5,12,0,0,5,2,25,-11,1
35,22024,1629027,0022400121,"OCT 30, 2024",ATL @ WAS,L,40,12,28,0.429,4,13,0.308,7,7,1.000,2,2,4,15,2,0,3,2,35,-16,1
36,22024,1629027,0022400103,"OCT 28, 2024",ATL vs. WAS,L,36,2,15,0.133,2,10,0.200,8,9,0.889,0,8,8,13,1,1,6,3,14,-7,1
37,22024,1629027,0022400100,"OCT 27, 2024",ATL @ OKC,L,37,7,14,0.500,2,7,0.286,8,8,1.000,0,1,1,8,0,0,10,3,24,-18,1
38,22024,1629027,0022400079,"OCT 25, 2024",ATL vs. CHA,W,41,11,24,0.458,5,14,0.357,11,13,0.846,3,5,8,10,4,0,7,1,38,9,1
39,22024,1629027,0022400064,"OCT 23, 2024",ATL vs. BKN,W,37,7,16,0.438,2,6,0.333,14,16,0.875,1,4,5,12,1,1,3,1,30,12,1

In [ ]:
# GP = Games Played
# GS = Games Started
# MIN = Minutes
# FGM = Field Goals Made
# FGA = Field Goals Attempted
# FG_PCT = Field Goal Percentage
# FG3M = 3-Point Field Goals Made
# FG3A = 3-Point Field Goals Attempted
# FG3_PCT = 3-Point Field Goal Percentage
# FTM = Free Throws Made
# FTA = Free Throws Attempted
# FT_PCT = Free Throw Percentage
# OREB = Offensive Rebounds
# DREB = Defensive Rebounds
# REB = Total Rebounds
# AST = Assists
# STL = Steals
# BLK = Blocks
# TOV = Turnovers
# PF = Personal Fouls
# PTS = Points

# SEASON_ID = Season Year (e.g., "22023")
# Player_ID = Unique Player Identifier
# Game_ID = Unique Game Identifier
# GAME_DATE = Date of Game
# MATCHUP = Teams Playing (e.g., "ATL vs. BOS")
# WL = Win or Loss
# MIN = Minutes Played
# FGM = Field Goals Made
# FGA = Field Goals Attempted
# FG_PCT = Field Goal Percentage
# FG3M = 3-Pointers Made
# FG3A = 3-Pointers Attempted
# FG3_PCT = 3-Point Percentage
# FTM = Free Throws Made
# FTA = Free Throws Attempted
# FT_PCT = Free Throw Percentage
# OREB = Offensive Rebounds
# DREB = Defensive Rebounds
# REB = Total Rebounds
# AST = Assists
# STL = Steals
# BLK = Blocks
# TOV = Turnovers
# PF = Personal Fouls
# PTS = Points
# PLUS_MINUS = Plus/Minus Score
# VIDEO_AVAILABLE = Video Highlight Available

In [73]:
from nba_api.stats.endpoints import teamandplayersvsplayers

stats = teamandplayersvsplayers.TeamAndPlayersVsPlayers()
df = stats.get_data_frames()[0]
df

TypeError: TeamAndPlayersVsPlayers.__init__() missing 12 required positional arguments: 'vs_team_id', 'vs_player_id5', 'vs_player_id4', 'vs_player_id3', 'vs_player_id2', 'vs_player_id1', 'team_id', 'player_id5', 'player_id4', 'player_id3', 'player_id2', and 'player_id1'

In [78]:
from nba_api.stats.endpoints import teamdashboardbygeneralsplits

stats = teamdashboardbygeneralsplits.TeamDashboardByGeneralSplits(team_id='1610612737')
df = stats.get_data_frames()[0]
df

,GROUP_SET,GROUP_VALUE,SEASON_YEAR,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS,GP_RANK,W_RANK,L_RANK,W_PCT_RANK,MIN_RANK,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,FTM_RANK,FTA_RANK,FT_PCT_RANK,OREB_RANK,DREB_RANK,REB_RANK,AST_RANK,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK
0,Overall,2024-25,2024-25,43,22,21,0.512,2079.0,1833,3977,0.461,554,1589,0.349,800,1025,0.78,534,1429,1963,1262,690.0,445,230,237,790,851,5020,-93.0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [84]:
from nba_api.stats.endpoints import teamdashboardbyshootingsplits

stats = teamdashboardbyshootingsplits.TeamDashboardByShootingSplits(
    team_id='1610612737',
    measure_type_detailed_defense='Base')
df = stats.get_data_frames()[0]
df

,GROUP_SET,GROUP_VALUE,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,EFG_PCT,BLKA,PCT_AST_2PM,PCT_UAST_2PM,PCT_AST_3PM,PCT_UAST_3PM,PCT_AST_FGM,PCT_UAST_FGM,FGM_RANK,FGA_RANK,FG_PCT_RANK,FG3M_RANK,FG3A_RANK,FG3_PCT_RANK,EFG_PCT_RANK,BLKA_RANK,PCT_AST_2PM_RANK,PCT_UAST_2PM_RANK,PCT_AST_3PM_RANK,PCT_UAST_3PM_RANK,PCT_AST_FGM_RANK,PCT_UAST_FGM_RANK
0,Overall,2024-25,1833,3977,0.461,554,1589,0.349,0.531,237,0.634,0.366,0.814,0.186,0.688,0.312,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [86]:
from nba_api.stats.endpoints import teamdashlineups

stats = teamdashlineups.TeamDashLineups(team_id='1610612737')
df = stats.get_data_frames()
df

[  GROUP_SET GROUP_VALUE     TEAM_ID TEAM_ABBREVIATION      TEAM_NAME  GP   W  \
 0   Overall     2024-25  1610612737               ATL  Atlanta Hawks  43  22

     L  W_PCT     MIN   FGM   FGA  FG_PCT  FG3M  FG3A  FG3_PCT  FTM   FTA  \
 0  21  0.512  2079.0  1833  3977   0.461   554  1589    0.349  800  1025

    FT_PCT  OREB  DREB   REB   AST    TOV  STL  BLK  BLKA  ...  PLUS_MINUS  \
 0    0.78   534  1429  1963  1262  690.0  445  230   237  ...       -93.0

    GP_RANK  W_RANK  L_RANK  W_PCT_RANK  MIN_RANK  FGM_RANK  FGA_RANK  \
 0        1       1       1           1         1         1         1

    FG_PCT_RANK  FG3M_RANK  FG3A_RANK  FG3_PCT_RANK  FTM_RANK  FTA_RANK  \
 0            1          1          1             1         1         1

    FT_PCT_RANK  OREB_RANK  DREB_RANK  REB_RANK  AST_RANK  TOV_RANK  STL_RANK  \
 0            1          1          1         1         1         1         1

    BLK_RANK  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  PLUS_MINUS_RANK
 0         1          1        1         1         1                1

 [1 rows x 57 columns],
     GROUP_SET                                   GROUP_ID  \
 0     Lineups   -203991-1629027-1630552-1630700-1642258-
 1     Lineups   -203991-1629027-1629631-1630552-1630700-
 2     Lineups  -1629027-1629631-1630168-1630552-1630700-
 3     Lineups   -203992-1629027-1629631-1630168-1630700-
 4     Lineups   -203992-1629631-1630168-1630552-1641723-
 ..        ...                                        ...
 245   Lineups  -1629726-1630168-1630811-1631223-1642258-
 246   Lineups    -203991-203992-1630249-1630552-1642258-
 247   Lineups   -203992-1630168-1630249-1630552-1630700-
 248   Lineups  -1629027-1630168-1630249-1630700-1631223-
 249   Lineups   -203991-1629027-1629631-1630249-1642258-

                                             GROUP_NAME  GP   W   L  W_PCT  \
 0    C. Capela - T. Young - J. Johnson - D. Daniels...  26  14  12  0.538
 1    C. Capela - T. Young - D. Hunter - J. Johnson ...  17  10   7  0.588
 2    T. Young - D. Hunter - O. Okongwu - J. Johnson...  16  11   5  0.688
 3    B. Bogdanovi - T. Young - D. Hunter - O. Okon...  16   9   7  0.563
 4    B. Bogdanovi - D. Hunter - O. Okongwu - J. Jo...   7   4   3  0.571
 ..                                                 ...  ..  ..  ..    ...
 245  G. Mathews - O. Okongwu - K. Wallace - D. Rodd...   2   0   2  0.000
 246  C. Capela - B. Bogdanovi - V. Krej - J. Joh...   1   0   1  0.000
 247  B. Bogdanovi - O. Okongwu - V. Krej - J. Jo...   2   1   1  0.500
 248  T. Young - O. Okongwu - V. Krej - D. Daniels...   2   1   1  0.500
 249  C. Capela - T. Young - D. Hunter - V. Krej -...   2   1   1  0.500

             MIN  FGM  FGA  FG_PCT  FG3M  FG3A  FG3_PCT  FTM  FTA  FT_PCT  \
 0    281.648333  278  561   0.496    67   178    0.376   73  107   0.682
 1    104.461667   93  206   0.451    26    73    0.356   56   72   0.778
 2     94.825000   86  170   0.506    24    69    0.348   68   80   0.850
 3     64.083333   58  132   0.439    18    48    0.375   24   26   0.923
 4     61.416667   53  118   0.449    13    41    0.317   24   28   0.857
 ..          ...  ...  ...     ...   ...   ...      ...  ...  ...     ...
 245    0.796667    0    0   0.000     0     0    0.000    2    2   1.000
 246    0.766667    1    3   0.333     0     2    0.000    1    1   1.000
 247    0.750000    1    2   0.500     0     0    0.000    0    0   0.000
 248    0.750000    0    1   0.000     0     1    0.000    1    1   1.000
 249    0.733333    0    1   0.000     0     0    0.000    0    0   0.000

      OREB  DREB  REB  AST   TOV  STL  BLK  BLKA  PF  PFD  PTS  PLUS_MINUS  \
 0      79   200  279  198  93.0   53   36    44  95   94  696        -1.0
 1      29    79  108   64  25.0   31   15    14  36   55  268        34.0
 2      27    65   92   49  40.0   16   14    12  43   57  264         8.0
 3      28    41   69   38  19.0    9    1     6  23   20  158       -11.0
 4      13    43   56   36  23.0   17    4     7  21   26  143        -5.0
 ..    ...   ...  ...  ...   ...  ...  ...   ...  ..  ...  ...         ...
 245     0     0    0    0   0.0    0    0     0   0    1    2         0.0
 246     1     1    2    0   0.0    0    1     0   0    1    3         3.0
 247     0     1    1    1   0.0    0    0     0   1    0    2         0.0
 248     1     0    1    0   1.0    1    0     0   0    1    1        -3.0
 249     0     1    1    0   1.0    0    0     0   0    0    0         0.0

      GP_RANK  W_RANK  L_RANK  W_PCT_RANK  MIN_RANK  FGM_RANK  FGA_RANK  \
 0          1       1     415         183         1         1         1
 1          2       3     412         177         2         2         2
 2          3       2     406         156         3         3         3
 3          3       4     412         181         4         4         4
 4         13      11     380         178         5         5         5
 ..       ...     ...     ...         ...       ...       ...       ...
 245       93     259     336         259       246       237       267
 246      168     259     144         259       247       185       192
 247       93      87     144         184       248       185       212
 248       93      87     144         184       248       237       241
 249       93      87     144         184       250       237       241

      FG_PCT_RANK  FG3M_RANK  FG3A_RANK  FG3_PCT_RANK  FTM_RANK  FTA_RANK  \
 0            118          1          1            91         1         1
 1            134          2          2            95         3         3
 2             72          3          3            96         2         2
 3            141          4          4            92         5         7
 4            135          6          5           119         5         6
 ..           ...        ...        ...           ...       ...       ...
 245          237        164        242           164        72        87
 246          183        164        153           164       127       151
 247           73        164        242           164       168       175
 248          237        164        185           164       127       151
 249          237        164        242           164       168       175

      FT_PCT_RANK  OREB_RANK  DREB_RANK  REB_RANK  AST_RANK  TOV_RANK  \
 0            121          1          1         1         1       415
 1            105          2          2         2         2       413
 2             93          4          3         3         3       414
 3             85          3          5         4         4       411
 4             91          5          4         5         5       412
 ..           ...        ...        ...       ...       ...       ...
 245            1        150        223       241       214         1
 246            1         83        161       148       214         1
 247          168        150        161       186       158         1
 248            1         83        223       186       214       241
 249          168        150        161       186       214       241

      STL_RANK  BLK_RANK  BLKA_RANK  PF_RANK  PFD_RANK  PTS_RANK  \
 0           1         1        415      415         1         1
 1           2         2        414      413         3         2
 2           4         3        413      414         2         3
 3           6        46        409      412         7         4
 4           3         7        411      411         4         5
 ..        ...       ...        ...      ...       ...       ...
 245       149        98          1        1       122       215
 246       149        46          1        1       122       198
 247       149        98          1      215       205       215
 248        74        98          1        1       122       248
 249       149        98          1        1       205       252

      PLUS_MINUS_RANK
 0                281
 1                  1
 2                 19
 3                408
 4                357
 ..               ...
 245              110
 246               52
 247              110
 248              330
 249              110

 [250 rows x 55 columns]]

In [34]:
# from nba_api.stats.endpoints import teamplayerdashboard

# roster = teamplayerdashboard.TeamPlayerDashboard(team_id='1610612737')
# roster_df = stats.get_data_frames()[0]
# roster_df

In [16]:
from nba_api.stats.endpoints import commonteamroster

roster = commonteamroster.CommonTeamRoster(team_id='1610612737')  # Hawks
roster_df = roster.get_data_frames()[0]
roster_df

,TeamID,SEASON,LeagueID,PLAYER,NICKNAME,PLAYER_SLUG,NUM,POSITION,HEIGHT,WEIGHT,BIRTH_DATE,AGE,EXP,SCHOOL,PLAYER_ID,HOW_ACQUIRED
0,1610612737,2024,00,Jalen Johnson,Jalen,jalen-johnson,1,F,6-8,219,"DEC 18, 2001",23.0,3,Duke,1630552,#20 Pick in 2021 Draft
1,1610612737,2024,00,Keaton Wallace,Keaton,keaton-wallace,2,G,6-3,185,"FEB 26, 1999",25.0,R,Texas-San Antonio,1630811,Signed on 09/29/23
2,1610612737,2024,00,Kobe Bufkin,Kobe,kobe-bufkin,4,G,6-4,195,"SEP 21, 2003",21.0,1,Michigan,1641723,#15 Pick in 2023 Draft
3,1610612737,2024,00,Dyson Daniels,Dyson,dyson-daniels,5,G,6-7,199,"MAR 17, 2003",21.0,2,NBA G League Ignite,1630700,Traded from NOP on 07/06/24
4,1610612737,2024,00,David Roddy,David,david-roddy,8,F,6-4,255,"MAR 27, 2001",23.0,2,Colorado State,1631223,Traded from PHX on 07/29/24
5,1610612737,2024,00,Zaccharie Risacher,Zaccharie,zaccharie-risacher,10,F,6-8,200,"APR 08, 2005",19.0,R,JL Bourg-en-Bresse,1642258,#1 Pick in 2024 Draft
6,1610612737,2024,00,Trae Young,Trae,trae-young,11,G,6-1,164,"SEP 19, 1998",26.0,6,Oklahoma,1629027,Draft Rights Traded from DAL on 06/21/18
7,1610612737,2024,00,De'Andre Hunter,De'Andre,deandre-hunter,12,F-G,6-8,221,"DEC 02, 1997",27.0,5,Virginia,1629631,Draft Rights Traded from NOP on 07/07/19
8,1610612737,2024,00,Bogdan Bogdanovi,Bogdan,bogdan-bogdanovi,13,G,6-5,225,"AUG 18, 1992",32.0,7,Fenerbahce,203992,Signed on 11/25/20
9,1610612737,2024,00,Clint Capela,Clint,clint-capela,15,C,6-10,256,"MAY 18, 1994",30.0,10,Elan Chalon,203991,Traded from HOU on 02/05/20
10,1610612737,2024,00,Onyeka Okongwu,Onyeka,onyeka-okongwu,17,F-C,6-10,240,"DEC 11, 2000",24.0,4,Southern California,1630168,#6 Pick in 2020 Draft
11,1610612737,2024,00,Mouhamed Gueye,Mouhamed,mouhamed-gueye,18,F,6-10,210,"NOV 09, 2002",22.0,1,Washington State,1631243,Draft Rights Traded from BOS on 06/28/23
12,1610612737,2024,00,Larry Nance Jr.,Larry,larry-nance-jr,22,F-C,6-8,245,"JAN 01, 1993",32.0,9,Wyoming,1626204,Traded from NOP on 07/06/24
13,1610612737,2024,00,Garrison Mathews,Garrison,garrison-mathews,24,G,6-6,215,"OCT 24, 1996",28.0,5,Lipscomb,1629726,Traded from HOU on 02/09/23
14,1610612737,2024,00,Dominick Barlow,Dominick,dominick-barlow,26,F,6-8,215,"MAY 26, 2003",21.0,2,Overtime Elite,1631230,Signed on 07/30/24
15,1610612737,2024,00,Vt Krej,Vt,vt-krej,27,G,6-8,195,"JUN 19, 2000",24.0,3,Zaragoza,1630249,Signed on 12/22/23
16,1610612737,2024,00,Daeqwon Plowden,Daeqwon,daeqwon-plowden,29,G-F,6-6,216,"AUG 29, 1998",26.0,R,Bowling Green,1631342,Signed on 09/27/24
17,1610612737,2024,00,Cody Zeller,Cody,cody-zeller,40,F-C,6-11,240,"OCT 05, 1992",32.0,11,Indiana,203469,Traded from NOP on 07/06/24

In [18]:
#ok now, I want to create a loop that loops through all the players from a given team ID
for index, row in roster_df.iterrows():
    player_id = row['PLAYER_ID']
    player_name = row['PLAYER']
    age = row['AGE']
    print("getting stats for " + player_name)

getting stats for Jalen Johnson
getting stats for Keaton Wallace
getting stats for Kobe Bufkin
getting stats for Dyson Daniels
getting stats for David Roddy
getting stats for Zaccharie Risacher
getting stats for Trae Young
getting stats for De'Andre Hunter
getting stats for Bogdan Bogdanovi
getting stats for Clint Capela
getting stats for Onyeka Okongwu
getting stats for Mouhamed Gueye
getting stats for Larry Nance Jr.
getting stats for Garrison Mathews
getting stats for Dominick Barlow
getting stats for Vt Krej
getting stats for Daeqwon Plowden
getting stats for Cody Zeller

In [20]:
#next, as we loop through that, i want to pull their career statistics
from nba_api.stats.endpoints import playercareerstats
#note that the nba_api has rate limiting, so we cant go too fast
from requests.exceptions import ReadTimeout
import random
import time 
import pandas as pd

team_roster = pd.DataFrame()
player_names = []

for index, row in roster_df.iterrows():

    player_id = row['PLAYER_ID']
    player_name = row['PLAYER']
    age = row['AGE'] 
    player_names.append(player_name)
    
    while True:
        try:
            print(f"getting stats for {player_name}")
            stats = playercareerstats.PlayerCareerStats(player_id=player_id)
            player_stats = stats.get_data_frames()[0]
            
            #ok now we need to process the data we are pulling 
            most_recent_season = pd.DataFrame([player_stats.iloc[-1]])
            team_roster = pd.concat([team_roster, most_recent_season])
            
            
            time.sleep(round(random.uniform(0.5, 1.5), 1))
            break
        except ReadTimeout:
            print(f"Timeout for {player_name} - retrying after 5 seconds")
            time.sleep(5)
            continue

team_roster.insert(0, 'PLAYER_NAME', player_names)
print("finished")

getting stats for Jalen Johnson
getting stats for Keaton Wallace
getting stats for Kobe Bufkin
getting stats for Dyson Daniels
getting stats for David Roddy
getting stats for Zaccharie Risacher
getting stats for Trae Young
getting stats for De'Andre Hunter
getting stats for Bogdan Bogdanovi
getting stats for Clint Capela
getting stats for Onyeka Okongwu
getting stats for Mouhamed Gueye
getting stats for Larry Nance Jr.
getting stats for Garrison Mathews
getting stats for Dominick Barlow
getting stats for Vt Krej
getting stats for Daeqwon Plowden
getting stats for Cody Zeller
finished

In [22]:
team_roster = team_roster.reset_index(drop=True)
team_roster

,PLAYER_NAME,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,Jalen Johnson,1630552,2024-25,00,1610612737,ATL,23.0,35,35,1273.0,...,0.750,62,296,358,180,55,36,104,65,677
1,Keaton Wallace,1630811,2024-25,00,1610612737,ATL,25.0,17,2,286.0,...,1.000,3,25,28,36,17,6,18,18,102
2,Kobe Bufkin,1641723,2024-25,00,1610612737,ATL,21.0,10,0,124.0,...,0.722,5,16,21,17,3,2,8,9,53
3,Dyson Daniels,1630700,2024-25,00,1610612737,ATL,21.0,39,39,1307.0,...,0.556,67,131,198,137,118,31,71,97,520
4,David Roddy,1631223,2024-25,00,1610612737,ATL,23.0,23,2,311.0,...,0.875,10,50,60,28,12,6,19,16,114
5,Zaccharie Risacher,1642258,2024-25,00,1610612737,ATL,19.0,39,37,926.0,...,0.713,50,85,135,45,30,21,47,82,410
6,Trae Young,1629027,2024-25,00,1610612737,ATL,26.0,40,40,1438.0,...,0.865,21,115,136,465,55,10,179,79,922
7,De'Andre Hunter,1629631,2024-25,00,1610612737,ATL,27.0,30,2,843.0,...,0.856,20,93,113,45,27,4,44,70,572
8,Bogdan Bogdanovi,203992,2024-25,00,1610612737,ATL,32.0,22,0,539.0,...,0.897,10,47,57,47,19,4,33,51,213
9,Clint Capela,203991,2024-25,00,1610612737,ATL,30.0,43,41,975.0,...,0.549,140,246,386,51,26,44,41,86,409
10,Onyeka Okongwu,1630168,2024-25,00,1610612737,ATL,24.0,36,2,871.0,...,0.755,105,171,276,65,26,32,30,80,413
11,Mouhamed Gueye,1631243,2024-25,00,1610612737,ATL,22.0,2,0,11.0,...,0.000,0,2,2,0,0,0,1,0,2
12,Larry Nance Jr.,1626204,2024-25,00,1610612737,ATL,32.0,15,2,291.0,...,0.875,16,48,64,24,16,11,11,23,143
13,Garrison Mathews,1629726,2024-25,00,1610612737,ATL,28.0,34,2,628.0,...,0.821,11,46,57,51,23,10,22,59,287
14,Dominick Barlow,1631230,2024-25,00,1610612737,ATL,21.0,7,0,30.0,...,0.500,0,4,4,1,1,0,0,2,6
15,Vt Krej,1630249,2024-25,00,1610612737,ATL,24.0,28,11,516.0,...,0.765,11,53,64,70,17,13,24,49,158
16,Daeqwon Plowden,1631342,2024-25,00,1610612737,ATL,26.0,1,0,25.0,...,0.000,3,1,4,0,0,0,1,4,19
17,Cody Zeller,203469,2023-24,00,1610612740,NOP,31.0,43,0,320.0,...,0.605,48,64,112,39,9,5,16,45,76

In [24]:
# from nba_api.stats.endpoints import playercareerstats

# team_roster = pd.DataFrame()
# #each players career stats will be added to a dataframe

# stats = playercareerstats.PlayerCareerStats(player_id='1629027') #trea young
# player_stats = stats.get_data_frames()[0]
# most_recent_season = pd.DataFrame([player_stats.iloc[-1]])
# team_roster = pd.concat([team_roster, most_recent_season])

# stats = playercareerstats.PlayerCareerStats(player_id='1628369') #Jayson Tatum
# player_stats = stats.get_data_frames()[0]
# most_recent_season = pd.DataFrame([player_stats.iloc[-1]])
# team_roster = pd.concat([team_roster, most_recent_season])

# #in the loop above, we can just keep a running list of the players names, and then insert the column at the end
# team_roster.insert(0, 'PLAYER_NAME', ['Trae Young', 'Jayson Tatum'])

In [26]:
# #then I want to figure out how to basically relate that big dataframe to the team, and store that information
# team_roster

In [28]:
# #so down here, once I have that big dataframe, i want to transition to storing it somehow
# import random
# i = 0
# while i < 20:
#     num = round(random.uniform(0.5, 1.5), 1)
#     print(num)
#     i+=1

In [30]:
team_roster.to_excel('hawks.xlsx')

In [40]:
#full team stats, aquired and stored in a sql database
from nba_api.stats.endpoints import commonteamroster
from nba_api.stats.endpoints import playercareerstats
#note that the nba_api has rate limiting, so we cant go too fast
from requests.exceptions import ReadTimeout
import random
import time 
import pandas as pd

#we need to import the team roster, turn it into a dataframe
roster = commonteamroster.CommonTeamRoster(team_id='1610612737')  # Hawks
roster_df = roster.get_data_frames()[0]

#create an empty team roster 
team_roster = pd.DataFrame()
player_names = []

#next, as we loop through that, i want to pull their career statistics
for index, row in roster_df.iterrows():
    
    player_id = row['PLAYER_ID']
    player_name = row['PLAYER']
    age = row['AGE'] 
    player_names.append(player_name)
    
    while True:
        try:
            print(f"getting stats for {player_name}")
            stats = playercareerstats.PlayerCareerStats(player_id=player_id)
            player_stats = stats.get_data_frames()[0]
            
            #ok now we need to process the data we are pulling 
            most_recent_season = pd.DataFrame([player_stats.iloc[-1]])
            team_roster = pd.concat([team_roster, most_recent_season])
            
            
            time.sleep(round(random.uniform(0.5, 1.5), 1))
            break
        except ReadTimeout:
            print(f"Timeout for {player_name} - retrying after 5 seconds")
            time.sleep(5)
            continue

team_roster.insert(0, 'PLAYER_NAME', player_names)
print('finished')
#once we've created the dataframe, we want to push that to a SQL database

getting stats for Jalen Johnson
getting stats for Keaton Wallace
getting stats for Kobe Bufkin
getting stats for Dyson Daniels
getting stats for David Roddy
getting stats for Zaccharie Risacher
getting stats for Trae Young
getting stats for De'Andre Hunter
getting stats for Bogdan Bogdanovi
getting stats for Clint Capela
getting stats for Onyeka Okongwu
getting stats for Mouhamed Gueye
getting stats for Larry Nance Jr.
getting stats for Garrison Mathews
getting stats for Dominick Barlow
getting stats for Vt Krej
getting stats for Daeqwon Plowden
getting stats for Cody Zeller
finished

In [42]:
import pandas as pd
from sqlalchemy import create_engine

#connection string: dialect+driver://user:password@server/database
engine = create_engine('postgresql://chase:yourpassword@localhost:5433/TeamData')

#df to sql
#append, fail, repalce for the if_exists parameter
team_roster.to_sql('hawks_team_roster', engine, if_exists='replace', index=False)

18

In [48]:
# team_roster_df = pd.read_sql_query('SELECT * FROM hawks_team_roster ', engine)
# team_roster_df

In [51]:
#now I want to work on iterating through a list of all of the NBA teams
from nba_api.stats.static import teams

# get_teams returns a list of 30 dictionaries, each an NBA team.
nba_teams = teams.get_teams()
print("Number of teams fetched: {}".format(len(nba_teams)))
nba_teams[:3]

Number of teams fetched: 30

[{'id': 1610612737,
  'full_name': 'Atlanta Hawks',
  'abbreviation': 'ATL',
  'nickname': 'Hawks',
  'city': 'Atlanta',
  'state': 'Georgia',
  'year_founded': 1949},
 {'id': 1610612738,
  'full_name': 'Boston Celtics',
  'abbreviation': 'BOS',
  'nickname': 'Celtics',
  'city': 'Boston',
  'state': 'Massachusetts',
  'year_founded': 1946},
 {'id': 1610612739,
  'full_name': 'Cleveland Cavaliers',
  'abbreviation': 'CLE',
  'nickname': 'Cavaliers',
  'city': 'Cleveland',
  'state': 'Ohio',
  'year_founded': 1970}]

In [69]:
for team in nba_teams:
    print(team['id'])
    print(team['full_name'])
    print(team)
    print()

1610612737
Atlanta Hawks
{'id': 1610612737, 'full_name': 'Atlanta Hawks', 'abbreviation': 'ATL', 'nickname': 'Hawks', 'city': 'Atlanta', 'state': 'Georgia', 'year_founded': 1949}

1610612738
Boston Celtics
{'id': 1610612738, 'full_name': 'Boston Celtics', 'abbreviation': 'BOS', 'nickname': 'Celtics', 'city': 'Boston', 'state': 'Massachusetts', 'year_founded': 1946}

1610612739
Cleveland Cavaliers
{'id': 1610612739, 'full_name': 'Cleveland Cavaliers', 'abbreviation': 'CLE', 'nickname': 'Cavaliers', 'city': 'Cleveland', 'state': 'Ohio', 'year_founded': 1970}

1610612740
New Orleans Pelicans
{'id': 1610612740, 'full_name': 'New Orleans Pelicans', 'abbreviation': 'NOP', 'nickname': 'Pelicans', 'city': 'New Orleans', 'state': 'Louisiana', 'year_founded': 2002}

1610612741
Chicago Bulls
{'id': 1610612741, 'full_name': 'Chicago Bulls', 'abbreviation': 'CHI', 'nickname': 'Bulls', 'city': 'Chicago', 'state': 'Illinois', 'year_founded': 1966}

1610612742
Dallas Mavericks
{'id': 1610612742, 'full_name': 'Dallas Mavericks', 'abbreviation': 'DAL', 'nickname': 'Mavericks', 'city': 'Dallas', 'state': 'Texas', 'year_founded': 1980}

1610612743
Denver Nuggets
{'id': 1610612743, 'full_name': 'Denver Nuggets', 'abbreviation': 'DEN', 'nickname': 'Nuggets', 'city': 'Denver', 'state': 'Colorado', 'year_founded': 1976}

1610612744
Golden State Warriors
{'id': 1610612744, 'full_name': 'Golden State Warriors', 'abbreviation': 'GSW', 'nickname': 'Warriors', 'city': 'Golden State', 'state': 'California', 'year_founded': 1946}

1610612745
Houston Rockets
{'id': 1610612745, 'full_name': 'Houston Rockets', 'abbreviation': 'HOU', 'nickname': 'Rockets', 'city': 'Houston', 'state': 'Texas', 'year_founded': 1967}

1610612746
Los Angeles Clippers
{'id': 1610612746, 'full_name': 'Los Angeles Clippers', 'abbreviation': 'LAC', 'nickname': 'Clippers', 'city': 'Los Angeles', 'state': 'California', 'year_founded': 1970}

1610612747
Los Angeles Lakers
{'id': 1610612747, 'full_name': 'Los Angeles Lakers', 'abbreviation': 'LAL', 'nickname': 'Lakers', 'city': 'Los Angeles', 'state': 'California', 'year_founded': 1948}

1610612748
Miami Heat
{'id': 1610612748, 'full_name': 'Miami Heat', 'abbreviation': 'MIA', 'nickname': 'Heat', 'city': 'Miami', 'state': 'Florida', 'year_founded': 1988}

1610612749
Milwaukee Bucks
{'id': 1610612749, 'full_name': 'Milwaukee Bucks', 'abbreviation': 'MIL', 'nickname': 'Bucks', 'city': 'Milwaukee', 'state': 'Wisconsin', 'year_founded': 1968}

1610612750
Minnesota Timberwolves
{'id': 1610612750, 'full_name': 'Minnesota Timberwolves', 'abbreviation': 'MIN', 'nickname': 'Timberwolves', 'city': 'Minnesota', 'state': 'Minnesota', 'year_founded': 1989}

1610612751
Brooklyn Nets
{'id': 1610612751, 'full_name': 'Brooklyn Nets', 'abbreviation': 'BKN', 'nickname': 'Nets', 'city': 'Brooklyn', 'state': 'New York', 'year_founded': 1976}

1610612752
New York Knicks
{'id': 1610612752, 'full_name': 'New York Knicks', 'abbreviation': 'NYK', 'nickname': 'Knicks', 'city': 'New York', 'state': 'New York', 'year_founded': 1946}

1610612753
Orlando Magic
{'id': 1610612753, 'full_name': 'Orlando Magic', 'abbreviation': 'ORL', 'nickname': 'Magic', 'city': 'Orlando', 'state': 'Florida', 'year_founded': 1989}

1610612754
Indiana Pacers
{'id': 1610612754, 'full_name': 'Indiana Pacers', 'abbreviation': 'IND', 'nickname': 'Pacers', 'city': 'Indiana', 'state': 'Indiana', 'year_founded': 1976}

1610612755
Philadelphia 76ers
{'id': 1610612755, 'full_name': 'Philadelphia 76ers', 'abbreviation': 'PHI', 'nickname': '76ers', 'city': 'Philadelphia', 'state': 'Pennsylvania', 'year_founded': 1949}

1610612756
Phoenix Suns
{'id': 1610612756, 'full_name': 'Phoenix Suns', 'abbreviation': 'PHX', 'nickname': 'Suns', 'city': 'Phoenix', 'state': 'Arizona', 'year_founded': 1968}

1610612757
Portland Trail Blazers
{'id': 1610612757, 'full_name': 'Portland Trail Blazers', 'abbreviation': 'POR', 'nickname': 'Trail Blazers', 'city': 'Portland', 'state': 'Oregon', 'year_founded': 1970}

1610612758
Sacramento Kings
{'id': 1610612758, 'full_name': 'Sacramento Kings', 'abbreviation': 'SAC', 'nickname': 'Kings', 'city': 'Sacramento', 'state': 'California', 'year_founded': 1948}

1610612759
San Antonio Spurs
{'id': 1610612759, 'full_name': 'San Antonio Spurs', 'abbreviation': 'SAS', 'nickname': 'Spurs', 'city': 'San Antonio', 'state': 'Texas', 'year_founded': 1976}

1610612760
Oklahoma City Thunder
{'id': 1610612760, 'full_name': 'Oklahoma City Thunder', 'abbreviation': 'OKC', 'nickname': 'Thunder', 'city': 'Oklahoma City', 'state': 'Oklahoma', 'year_founded': 1967}

1610612761
Toronto Raptors
{'id': 1610612761, 'full_name': 'Toronto Raptors', 'abbreviation': 'TOR', 'nickname': 'Raptors', 'city': 'Toronto', 'state': 'Ontario', 'year_founded': 1995}

1610612762
Utah Jazz
{'id': 1610612762, 'full_name': 'Utah Jazz', 'abbreviation': 'UTA', 'nickname': 'Jazz', 'city': 'Utah', 'state': 'Utah', 'year_founded': 1974}

1610612763
Memphis Grizzlies
{'id': 1610612763, 'full_name': 'Memphis Grizzlies', 'abbreviation': 'MEM', 'nickname': 'Grizzlies', 'city': 'Memphis', 'state': 'Tennessee', 'year_founded': 1995}

1610612764
Washington Wizards
{'id': 1610612764, 'full_name': 'Washington Wizards', 'abbreviation': 'WAS', 'nickname': 'Wizards', 'city': 'Washington', 'state': 'District of Columbia', 'year_founded': 1961}

1610612765
Detroit Pistons
{'id': 1610612765, 'full_name': 'Detroit Pistons', 'abbreviation': 'DET', 'nickname': 'Pistons', 'city': 'Detroit', 'state': 'Michigan', 'year_founded': 1948}

1610612766
Charlotte Hornets
{'id': 1610612766, 'full_name': 'Charlotte Hornets', 'abbreviation': 'CHA', 'nickname': 'Hornets', 'city': 'Charlotte', 'state': 'North Carolina', 'year_founded': 1988}