In [41]:
from sqlalchemy import create_engine,  text
import datetime

engine = create_engine('postgresql://chase:yourpassword@localhost:5433/TeamData')

# Example setup
player_id = '1630173'
cutoff_date = datetime.datetime(2025, 1, 17)
# formatted_date = cutoff_date.strftime('%b %d, %Y')

test_query = text("""
    SELECT * 
    FROM "all_player_game_stats"
    WHERE "Player_ID" = :player_id
    AND "GAME_DATE"::date >= :cutoff_date
""")

with engine.connect() as conn:
    with conn.begin():
        
        # Test what will be deleted
        result = conn.execute(test_query,
                             {"player_id": player_id, 
                              "cutoff_date": cutoff_date})
print(result)

<sqlalchemy.engine.cursor.CursorResult object at 0x0000022E8450B460>

In [37]:
from sqlalchemy import create_engine,  text
import datetime

engine = create_engine('postgresql://chase:yourpassword@localhost:5433/TeamData')

player_id = '1630173'
cutoff_date = datetime.datetime(2025, 1, 17)

# Query execution
query = text("""
    SELECT *
    FROM "all_player_game_stats"
    WHERE "Player_ID" = :player_id
    AND "GAME_DATE"::date > :cutoff_date
""")

# Execute the query
with engine.connect() as conn:
    result = conn.execute(query, {"player_id": player_id, "cutoff_date": cutoff_date})
    rows = result.fetchall()

# Print the results
for row in rows:
    print(row)

('22024', 1630173, '0022400606', 'JAN 21, 2025', 'NYK @ BKN', 'W', 18, 5, 7, 0.714, 1, 2, 0.5, 0, 0, 0.0, 0, 4, 4, 1, 1, 0, 1, 2, 11, -5, 1)
('22024', 1630173, '0022400602', 'JAN 20, 2025', 'NYK vs. ATL', 'W', 17, 1, 2, 0.5, 0, 0, 0.0, 0, 0, 0.0, 2, 3, 5, 2, 2, 0, 1, 1, 2, 4, 1)
('22024', 1630173, '0022400653', '2025-01-27 00:00:00', 'NYK vs. MEM', 'W', 20, 6, 9, 0.667, 1, 1, 1.0, 1, 2, 0.5, 2, 1, 3, 1, 4, 2, 1, 2, 14, 9, 1)
('22024', 1630173, '0022400653', '2025-01-27 00:00:00', 'NYK vs. MEM', 'W', 20, 6, 9, 0.667, 1, 1, 1.0, 1, 2, 0.5, 2, 1, 3, 1, 4, 2, 1, 2, 14, 9, 1)
('22024', 1630173, '0022400653', '2025-01-27 00:00:00', 'NYK vs. MEM', 'W', 20, 6, 9, 0.667, 1, 1, 1.0, 1, 2, 0.5, 2, 1, 3, 1, 4, 2, 1, 2, 14, 9, 1)

In [48]:
from sqlalchemy import create_engine,  text
import datetime

engine = create_engine('postgresql://chase:yourpassword@localhost:5433/TeamData')

# Example setup
player_id = '1630173'
cutoff_date = datetime.datetime(2025, 1, 17)

# The delete query
delete_query = text("""
    DELETE FROM "all_player_game_stats"
    WHERE "Player_ID" = :player_id
    AND "GAME_DATE"::date >= :cutoff_date
""")

with engine.connect() as conn:
    with conn.begin():
        # Execute with parameters
        conn.execute(delete_query, 
                    {"player_id": player_id, 
                     "cutoff_date": cutoff_date})
        rows = result.fetchall()

# Print the results
for row in rows:
    print(row)

('22024', 1630173, '0022400606', 'JAN 21, 2025', 'NYK @ BKN', 'W', 18, 5, 7, 0.714, 1, 2, 0.5, 0, 0, 0.0, 0, 4, 4, 1, 1, 0, 1, 2, 11, -5, 1)
('22024', 1630173, '0022400602', 'JAN 20, 2025', 'NYK vs. ATL', 'W', 17, 1, 2, 0.5, 0, 0, 0.0, 0, 0, 0.0, 2, 3, 5, 2, 2, 0, 1, 1, 2, 4, 1)
('22024', 1630173, '0022400578', 'JAN 17, 2025', 'NYK vs. MIN', 'L', 36, 3, 10, 0.3, 0, 0, 0.0, 0, 0, 0.0, 4, 5, 9, 3, 1, 3, 0, 3, 6, -3, 1)
('22024', 1630173, '0022400653', '2025-01-27 00:00:00', 'NYK vs. MEM', 'W', 20, 6, 9, 0.667, 1, 1, 1.0, 1, 2, 0.5, 2, 1, 3, 1, 4, 2, 1, 2, 14, 9, 1)
('22024', 1630173, '0022400653', '2025-01-27 00:00:00', 'NYK vs. MEM', 'W', 20, 6, 9, 0.667, 1, 1, 1.0, 1, 2, 0.5, 2, 1, 3, 1, 4, 2, 1, 2, 14, 9, 1)
('22024', 1630173, '0022400653', '2025-01-27 00:00:00', 'NYK vs. MEM', 'W', 20, 6, 9, 0.667, 1, 1, 1.0, 1, 2, 0.5, 2, 1, 3, 1, 4, 2, 1, 2, 14, 9, 1)

In [96]:
from sqlalchemy import create_engine, text
from nba_api.stats.endpoints import leaguegamefinder
from datetime import datetime, timedelta
import pandas as pd
import time
import random

start_date = datetime.now()
end_date = start_date + timedelta(days=90)  # Get next 90 days

# Get schedule using LeagueGameFinder
schedule = leaguegamefinder.LeagueGameFinder(
    date_from_nullable=start_date.strftime('%m/%d/%Y'),
    date_to_nullable=end_date.strftime('%m/%d/%Y'),
    league_id_nullable='00',
    season_type_nullable='Regular Season'
)

# Convert to DataFrame
schedule_df = schedule.get_data_frames()[0]
schedule_df

Empty DataFrame
Columns: [SEASON_ID, TEAM_ID, TEAM_ABBREVIATION, TEAM_NAME, GAME_ID, GAME_DATE, MATCHUP, WL, MIN, PTS, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PLUS_MINUS]
Index: []

[0 rows x 28 columns]

In [98]:
#we wont be able to use the nba _api for this one. We will need to webscrape:
#https://www.basketball-reference.com/leagues/NBA_2025_games-january.html